.btn {
  padding: 10px 35px;
  font-family: $fontDosisRegular;
  text-transform: uppercase;
  background-color: $bgColorGray;
  color: $textColorBlack;
  border-radius: 4px;
  letter-spacing: 3px;
  transition: .3s;

  &:hover {
    background-color: #777777;
    color: $bgColorBlack;
  }

  &.btn-dark {
    padding: 11px 18px;
    background-color: #323232;
    color: $textColorWhite;
    font-family: $fontOpenSansRegular;

    &:hover {
      background-color: #777777;
      color: $textColorBlack;
    }
  }

  &.btn-gray {
    padding: 10px 15px;
    color: $textColorGray;
    font-family: $fontOpenSansRegular;
    font-size: 11px;
    background-color: $bgColorLightGray;

    &:hover {
      background-color: $bgColorBlack;
      color: $textColorWhite;
    }
  }
}

