// ========== DEFAULT COMPONENTS START ========== //
.default-section {

}
.main-title {
  font-family: "DosisRegular";
  text-transform: uppercase;
  color: $textColorLightGray;
}
.section-title {
  font-family: "DosisRegular";
  color: $textColorBlack;
  text-transform: uppercase;
  letter-spacing: 11px;
}
.small-title {

}

.section-text {
  font-size: 15px;
  color: $textColorGray;
  $fontOpenSansLight
}
// ========== DEFAULT COMPONENTS END ========== //
