// ========== DEFAULT COMPONENTS START ========== //
.default-section {
  padding-top: 30px;
}
.main-title {
  font-family: "DosisRegular";
  text-transform: uppercase;
  color: $textColorLightGray;
}
.section-title {
  font-family: "DosisRegular";
  color: $textColorBlack;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 11px;
}
.small-title {
  font-family: "DosisRegular" sans-serif;
  color: $textColorBlack;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section-text {
  font-size: 15px;
  color: $textColorGray;
  font-family: $fontOpenSansLight;
}
// ========== DEFAULT COMPONENTS END ========== //
