// ========== DEFAULT COMPONENTS START ========== //
.default-section {
  padding-top: 140px;
  padding-bottom: 140px;
}
.main-title {
  font-family: $fontDosisRegular;
  text-transform: uppercase;
  color: $textColorLightGray;
}
.section-title {
  font-family: $fontDosisRegular;
  color: $textColorBlack;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1em;
}
.small-title {
  font-family: $fontDosisRegular;
  color: $textColorBlack;
  text-transform: uppercase;
  letter-spacing: .5em;
}

.section-text {
  font-size: 14px;
  color: $textColorGray;
  font-family: $fontOpenSansLight;
}

.form-control {
  outline: none;
  background-color: $bgColorWhite;
  color: $textColorGray;
  border: 1px solid $bgColorGray;
  padding: 12px 10px;
  font-size: 14px;
}

.rhomb-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  transform: rotate(45deg);
  border-radius: 3px;
}
// ========== DEFAULT COMPONENTS END ========== //
