// ========== FONTS START ========== //
@font-face {
   font-family: "DosisLight";
   src: url("../fonts/DosisLight/DosisLight.woff2") format("woff2"),
      url("../fonts/DosisLight/DosisLight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "DosisRegular";
  src: url("../fonts/DosisRegular/DosisRegular.woff2") format("woff2"),
  url("../DosisRegular/DosisRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.woff2") format("woff2"),
  url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"),
  url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url("../fontawesome/fa-brands-400.eot");
  src: url("../fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
  url("../fontawesome/fa-brands-400.woff2") format("woff2"),
  url("../fontawesome/fa-brands-400.woff") format("woff"),
  url("../fontawesome/fa-brands-400.ttf") format("truetype"),
  url("../fontawesome/fa-brands-400.svg#fontawesome") format("svg");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Font Awesome 5 Free';
  src: url("../fontawesome/fa-regular-400.eot");
  src: url("../fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"),
  url("../fontawesome/fa-regular-400.woff2") format("woff2"),
  url("../fontawesome/fa-regular-400.woff") format("woff"),
  url("../fontawesome/fa-regular-400.ttf") format("truetype"),
  url("../fontawesome/fa-regular-400.svg#fontawesome") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  src: url("../fontawesome/fa-solid-900.eot");
  src: url("../fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"),
  url("../fontawesome/fa-solid-900.woff2") format("woff2"),
  url("../fontawesome/fa-solid-900.woff") format("woff"),
  url("../fontawesome/fa-solid-900.ttf") format("truetype"),
  url("../fontawesome/fa-solid-900.svg#fontawesome") format("svg");
  font-style: normal;
  font-weight: 900;
}

// ========== FONTS END ========== //
