.main-inner {
  //background-color: #131313;
  background: url("../img/bg-fon.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 30px;
      letter-spacing: 40px;
      margin-bottom: 100px;
    }

    .inner-title {
      font-size: 19px;
      color: $textColorGray;
    }

    .rhomb-icon-white {
      position: absolute;
      bottom: 40px;
      background-color: $bgColorWhite;

      .fas {
        transform: rotate(-45deg);
        margin-left: 15px;
        margin-top: 11px;
        font-size: 18px;
      }
    }
  }
}

.about-section {
  border-bottom: 1px solid $bgColorGray;

  .section-title {
    margin-bottom: 40px;
  }

  .our-info {
    display: flex;
    margin-bottom: 100px;

    .about-quote {
      font-size: 24px;
      color: $textColorGray;
      font-family: $fontOpenSansLight;

      .author {
        font-size: 14px;
        margin-top: 30px;
      }
    }

    .section-text {
      margin-right: 30px;
    }
  }

  .our-workers {
    display: flex;
    justify-content: space-between;

    .author-team {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img-team {
        margin-bottom: 20px;
      }

      .name-author {
        font-size: 15px;
        margin-bottom: 7px;
      }

      .job-author {
        font-size: 12px;
      }
    }
  }
}

.services-section {
  // Пофиксь
  padding-bottom: 0;

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .services-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .services-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
    // У транзишинов нужно указывать свойство к которому он применяется, тут opacity
    transition: .3s;


    .services-icon {
      margin-bottom: 35px;
    }

    .services-title {
      font-size: 11px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .services-info {
    display: flex;
    margin-bottom: 170px;

    .services-quote {
      font-size: 24px;
      color: $textColorGray;
      font-family: $fontOpenSansLight;

      .author {
        font-size: 14px;
        margin-top: 30px;
      }
    }

    .section-text {
      margin-right: 30px;
    }
  }
}

.talk-section {
  // Юзай переменные
  background-color: #000;
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;

  // Приставка white не годится, сверь заголовок с макетом
  .white-title {
    color: $textColorLightGray;
    font-size: 21px;
    margin-bottom: 18px;
    width: 780px;
  }

  .white-text {
    color: $textColorGray;
    font-size: 16px;
    margin-bottom: 40px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .information {
      display: flex;
      flex-direction: column;
    }
  }

  .section-img {
    position: absolute;
    right: 0;
    top: -40px;
  }
}

.portfolio-section {
  padding-top: 140px;

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .section-text {
    text-align: center;
    margin-bottom: 80px;

  }

  .galery-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .galery-link {
      margin-right: 65px;
      opacity: .6;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .galery {
    display: flex;
    flex-wrap: wrap;

    .galery-img {
      margin-bottom: 25px;
    }
  }
}

.order-section {
  background-color: $bgColorBlack;
  padding: 70px 0;

  .order-create {
    display: flex;
    flex-direction: column;
    align-items: center;

    .white-title {
      color: $textColorWhite;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.why-choose-us-section {

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .advantages-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;
      margin-right: 20px;

      .advantages-icon-block {
        margin-bottom: 35px;
      }

      .small-title {
        margin-bottom: 30px;
      }

      .advantages-icon-block {
        max-width: 48px;
        width: 100%;
      }
    }
  }
}


.people-reviews-section {
  background-color: $bgColorBlack;
  overflow: hidden;

  .slide {

  }

  .slide-icon {
    width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid $bgColorWhite;
    border-radius: 50%;
    color: $textColorWhite;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 30px;
  }

  .slide-title {
    color: $textColorLightGray;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .section-text {
    font-size: 19px;
    text-align: center;
    color: $textColorLightGray;
    margin-bottom: 30px;
  }

  .inner-title {
    color: $textColorGray;
    display: flex;
    justify-content: center;
    font-family: $fontOpenSansRegular;
  }

  .slick-next {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background-color: $bgColorWhite;
    right: -40px;
    transform: rotate(45deg);
    display: block;
    color: $bgColorBlack;

    .fas {
      margin-left: 15px;
      transform: rotate(-45deg);
      margin-top: 41px;
      font-size: 20px;
    }

    &.slick-next:before {
      position: absolute;
      left: 17px;
      top: 37px;
      transform: rotate(-45deg);
      font-size: 30px;
      font-weight: bold;
    }
  }

  .slick-prev {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background-color: $bgColorWhite;
    left: -40px;
    transform: rotate(45deg);
    color: $bgColorBlack;
    display: block;

    .fas {
      margin-left: 55px;
      transform: rotate(-45deg);
      margin-bottom: 39px;
      font-size: 20px;
    }

    &.slick-prev:before {
      position: absolute;
      right: 17px;
      top: 12px;
      transform: rotate(-45deg);
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.news {

  .headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: flex-end;

    .view-all {
      color: $textColorBlack;
      font-size: 13px;
      opacity: .6;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .news-list {

    .news-img {
      margin-bottom: 20px;
    }

    .article-title {
      margin-bottom: 10px;
    }

    .article-info {
      color: $textColorGray;
      font-size: 11px;
      margin-bottom: 15px;
    }

    .article-text {
      margin-bottom: 15px;
    }
  }
}

.subscribe-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $bgColorLightGray;

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .title-form {
      margin-bottom: 21px;
    }

    .info-form {
      width: 290px;
      line-height: 19px;
    }
  }

  .subscribe-str {
    display: flex;
    justify-content: center;
    line-height: 11px;
    color: $textColorGray;
    font-family: $fontOpenSansLight;
    font-size: 11px;

    .fas {
      margin-right: 5px;
    }
  }
}

.contacts-section {

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .contact-title {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      width: 100%;
    }

    .contact-address {
      width: 770px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 80px;

      .address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .rhomb-black {
          text-align: center;
          color: $textColorWhite;
          background-color: $bgColorBlack;
          margin-right: 17px;

          .fas {
            transform: rotate(-45deg);
          }

          .fas-phone {
            transform: rotate(45deg);
          }
        }
      }
    }

    .contact-form {

      .field-input {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .form-line {
          width: 395px;
          margin-bottom: 20px;
          margin-right: 20px;
        }
      }

      .field-area {

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .form-area {
          resize: none;
          width: 395px;
          height: 114px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
