// ========== HEADER START ========== //
#header {
  background-color: $bgColorBlack;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .container-fluid {
    display: flex;
    justify-content: space-between;

    .inner-logo {
      display: inline-flex;
      align-items: center;
    }

    .header-nav {

      .header-nav-list {
        display: flex;

        .header-nav-item {
          font-family: $fontOpenSansLight;
          text-transform: uppercase;
          padding: 15px;
          font-size: 11px;
          transition: .3s;
          color: $textColorLightGray;
          opacity: .6;
          display: inline-flex;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
// ========== HEADER END ========== //
