@import 'grid/grid';
@import 'core/core';
@import 'plugins/plugins';
@import 'partials/partials';
@import 'layout/layout';
@import 'pages/pages';


.menu {
  background: url("../../dist/img/main-bg.png") center center no-repeat;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;

  .item-list {
    display: flex;

    .link {
      color: $textColorLightGray;
      font-family: $fontOpenSansLight;
      margin-left: 35px;
      text-transform: uppercase;
    }
  }
}

.main-inner {
  background: url("../../dist/img/main-bg.png");
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 30px;
      letter-spacing: 50px;
      margin-bottom: 100px;
    }

    .inner-title {
      font-family: "OpenSansRegular";
      font-size: 19px;
      color: #323232;
    }

    .header-arrow {
      width: 30px;
      height: 30px;
      background-color: $bgColorWhite;
      transform: rotate(45deg);
      border-radius: 5px;
      position: absolute;
      bottom: 40px;
    }
  }
}

.about {
  padding-top: 140px;
  padding-bottom: 140px;
  border-bottom: 1px solid $bgColorGray;

  .section-title {
    margin-bottom: 40px;
  }

  .row {
    display: flex;
    margin: auto;
    margin-bottom: 100px;

    .about-quote {
      font-size: 24px;
      color: $textColorGray;
      font-family: $fontOpenSansLight;

      .user {
        font-size: 14px;
        margin-top: 30px;
      }
    }

    .section-text {
      margin-right: 30px;
    }
  }

  .about-user {
    display: flex;
    justify-content: space-between;

    .about-team {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img-team {
        margin-bottom: 30px;
      }

      .name-user {
        font-size: 15px;
        margin-bottom: 15px;
      }

      .job-user {
        font-size: 12px;
      }
    }
  }
}

.services {
  padding-top: 140px;

  .section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .services-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .details-serv {
    display: flex;
    flex-direction: column;
    align-items: center;

    .services-icon {
      margin-bottom: 35px;
    }

    .services-title {
      font-size: 13px;
    }
  }

  .services-text {
    display: flex;

    .services-quote {
      font-size: 24px;
      color: $textColorGray;
      font-family: $fontOpenSansLight;

      .user {
        font-size: 14px;
        margin-top: 30px;
      }
    }

    .section-text {
      margin-right: 30px;
    }
  }
}
